*{
    margin: 0;
    padding: 0;
 }
.about .row{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2% 6%;
}
.about .row .image{
    flex: 1 1 35rem;
    padding: 2rem;
}
.about .row .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about .row .content{
    flex: 1 1 35rem;
    padding: 2rem;
    text-align: center;
}
.about .row .content h1{
    font-size: 3rem;
    color: yellowgreen;
    margin-bottom: 5rem;
}
.about .row .content p{
    line-height: 1.7;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
}
.btn{
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    border: 0.3rem solid yellowgreen;
    margin-top: 1.8rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 2rem;
}
.btn:hover{
    background-color: yellowgreen;
    color: #fff;
}